
.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    margin-top:5px;
    margin-right:5px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 30px;
    height: 6px;
    background: black;
}

#flyoutMenu {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    position: absolute;
    background-color: #e6e4e1;
    top: 36px;
    right: 0;
    transition: transform .3s
    cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
}

#flyoutMenu.hide {
    visibility: hidden;
}

#flyoutMenu.show {
    transform: translateX(0);
    overflow: hidden;
}

#flyoutMenu h2 a {
    color: #333;
    margin-left: 15px;
    text-decoration: none;
}

#flyoutMenu h2 a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 767px) {
    #flyoutMenu {
        top: 14px;
        justify-content: center;
    }
}