
.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 30px;
    height: 2px;
    background: white;
}

#flyoutMenu {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    height: 100%;
    position: fixed;
    background-color: #A1B0BF;
    top: 0;
    right: 0;
    transition: transform .3s
    cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
}

#flyoutMenu.hide {
    transform: translate3d(+100vw, 0, 0);
}

#flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
}

#flyoutMenu h2 a {
    color: #333;
    margin-left: 15px;
    text-decoration: none;
}

#flyoutMenu h2 a:hover {
    text-decoration: underline;
}