
* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #f6f4e1 70%, #fff 30%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    background-color: #004f6e;
}

#root {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
}



.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
    width: 80%;
}

/*Linie des Zeitstrahls*/
.timeline-container::after {
    background-color: #f56e47;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 105%;
}

.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    position: relative;
    margin: 30px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 25px;
    padding-right: 0;
}

.timeline-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #42a6c6;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
}

/*der Kreis des Eintrags*/
.timeline-item-content::after {
    content: ' ';
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    height: 18px;
    width: 18px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    right: -34px;
    top: calc(50% - 8px);
    z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

/*Einrücken des schwarzen Kreises der rechtsseitigen Einträge*/
.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -34px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}


.timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}


.timeline-item-content time {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
}

.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 250px;
}


.timeline-item-content .circle {
    background-color: #f56e47;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 70px);
    right: -35px;
    width: 20px;
    height: 20px;
    z-index: 100;
}


.timeline-item:nth-child(odd) .timeline-item-content .circle {
   right: auto;
   left: -35px;
}

.timeline-item-content .circle::after {
    content: " ";
    background-color: #f56e47;
    border-radius: 50%;
    position: absolute;
    margin-top: 600%;
    left: 0;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle::after {
    left: auto;
}


@media only screen and (max-width: 1023px) {
    .timeline-item-content {
        max-width: 65%;
    }
}

@media only screen and (max-width: 767px) {
    .timeline-item-content,
    .timeline-item:nth-child(odd) .timeline-item-content {
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-item-content .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

    .timeline-item-content time {
        margin-top: 20px;
    }
}